.bg-footer-radient {
    background: rgb(2,11,43);
background: -moz-linear-gradient(180deg, rgba(2,11,43,1) 0%, rgba(2,14,45,1) 0%, rgba(0,55,60,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(2,11,43,1) 0%, rgba(2,14,45,1) 0%, rgba(0,55,60,1) 100%);
background: linear-gradient(180deg, rgba(2,11,43,1) 0%, rgba(2,14,45,1) 0%, rgba(0,55,60,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020b2b",endColorstr="#00373c",GradientType=1);  
  }

  footer h2 {
    font-size: 20px;
    font-weight: 600;
  }